
body{
margin-top: 0;
min-height: 100%;
margin-left: 0;
margin-right: 0;

}
div {
  font-size: 18px;
  font-family: Roboto, arial;
}
.layout {
  display: grid;
  grid-template-columns: 300px auto 350px;
  margin:0 auto;
}
.leftside-container{
  height: 100%;
}
.sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}


.twitterlogo {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 37px;
  height: 37px;
}
.twitterlogo:hover {
  background-color: lightblue;
  border-radius: 20px;
  
  
}
.homepic,
.hashtagpic,
.bellpic,
.envelopepic,
.bookmarkpic,
.listpic,
.profilepic,
.threedotspic
{
  width: 25px;
  height: 25px;
  
}
.sidebarwholelink {
  position: absolute;
  top: 80px;
  left: 45px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: bold;
}
.sidebar-link1
{ display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 200px;
  height: 30px;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.sidebar-link1:hover {
  background-color: lightblue;
  cursor: pointer;
}
.tweetbutton {
  font-size:18px;
  font-weight: bold;
  background-color: rgb(29, 161, 242);
  color: rgb(255, 255, 255);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  width: 210px;
  border: none;
}
.tweetbutton:hover {
  opacity: 0.3;
  transition: 0.80s;
  cursor: pointer;
}




























.mainside-container{
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 2px black solid;
  border-right: 2px black solid;
}
.magic-icon {
  height: 20px;
  width: 20px;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  height: 60px;
  align-items: center;
  background-color: lightpink;
  position: sticky;
  top: 0;
  border-bottom: 2px black solid;
  font-weight: bold;
}
.image-icon1{
  color: blue;
  margin-left: 15px;
}
.image-icon{
  color: blue;
}
.image-icon:hover,
.image-icon1:hover {
  background-color: lightblue;
  cursor: pointer;
}
.profile-placeholder {
  border: none;
  background-color: lightgray;
  color: black;
  font-size: 20px;
}
.whats-happening-text {
  margin-top: 19px;
}
.profile-placeholder:focus {
  outline: none; 
}
.profile-column-button2{
 height: 40px;
 width: 80px;
 color: rgb(255, 255, 255);
 border-radius: 25px;
 font-size: 16px;
 font-weight: 700;
 background-color: rgb(29, 161, 242);
 border: none;
 margin-left: 10px;
}
.profile-column-button1 {
  font-size: 25px;
  height: 30px;
  width: 30px;
  border-radius: 60px;
  font-weight: bold;
  color: rgb(29, 161, 242);
  background-color:rgb(255, 255, 255) ;
  border-color: rgb(29, 161, 242);
  border-width: 1px;
  border-style: solid;
  margin-left: 280px;
}
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 60px;
  object-fit: cover;
  margin-left: 10px;
  margin-top: 10px;
}
.profile-area {
  display: flex;
  height: 120px;
  border-bottom: 2px black solid;
  width: 100%;
  gap: 10px;
}

.profile-column2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  
}
.profile-column-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper{
  height: 4px;
  margin-top: 0px;
  background-color: black;
}
.maincontainer-profile2 {
  height: 20px;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  margin-left: 10px;
  margin-top: 10px;
}
.main-container-story{
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-bottom: 2px black solid;
  padding-bottom: 15px;
}
.main-container-story:hover{
 cursor: pointer;
 background-color: lightgreen;
 transition: 0.15s;
}
.storypic {
  height: 300px;
  width: 520px;
  border-radius: 20px;
}
.story-text {
  font-size: 16px;
  text-align: justify;
  margin-right: 12px;
}
.main-container-story-uppercolumn{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
.arrow {
  margin-top: 10px;
  margin-left: 180px;
  color: gray;
}
.main-container-emojis {
  display: flex;
  flex-direction: row;
  color: gray;
  margin-top: 10px;
  margin-left: 5px;
}
.number {
  font-size: 14px;
  margin-left: 10px;
}
.emojis{
  font-size: 14px;
  margin-left: 40px;
}
.emoji1 {
 font-size: 14px; 
}


















.rightside-container{
  background-color: lightblue;
}

.searchbar {
  height: 51px;
  padding-left: 30px;
  padding-right: 30px;
  position: sticky;
  top: 0;
  padding-top: 8px;
  background-color: lightgreen;
  z-index: 100;
}

.placeholder {
 color: rgb(133, 166, 187);
 padding-bottom: 8px;
 padding-left: 60px;
 padding-top: 8px;
 padding-right: 15px;
 border-radius: 40px;
 border: none;
 width: 230px;
 position: relative;
 margin-top: 2px;
 height: 25px;
 font-size: 15px;
 margin-bottom: 20px;
 
}
.placeholder:focus {
  outline: none;
  
}
.search-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 40px;
  top: 20px;
  
}
.trends-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  border-bottom: 2px black solid;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 25px;
  font-size: 20px;
}
.trends-whole-container {
  background-color: lightskyblue;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-top: 15px;
  margin-left: 29px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: -260px;
}

.trendstext {
  font-size: 20px;
  font-weight: bold;
}
.settings-icon{
  width: 20px;
  height: 20px;
}
.Canada {
  font-size: 13px;
  color: rgb(133, 166, 187);

}
.mid-line {
  font-size: 16px;
  font-weight: bold;
}
.numbers-tweets {
  color: rgb(133, 166, 187);
  font-size: 16px;
}
span{
  color: rgb(29, 161, 242);
}
.first-column {
  border-bottom: 2px black solid;
  padding-bottom: 10px;
  line-height: 23px;
  padding-left: 20px;
  padding-top: 10px;
}

.first-column:hover{
  background-color: lightgreen;
  cursor: pointer;
  transition: 0.15s;
  
}
.second-column{
  padding-bottom: 15px;
  padding-left: 20px;
  padding-top: 10px;
  
}
.who-to-follow-container{
  display: flex;
  flex-direction: column;
  background-color: lightskyblue;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-left: 29px;
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px ;
  margin-top: 15px;
  position: sticky;
  top: 300px
}
.who-to-follow-column{
  display: flex;
  flex-direction: row;
  gap: 8px;
  border-bottom: 2px black solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.who-to-follow-pic{
  width: 40px;
  height: 40px;
  border-radius: 60px;
}
.flexcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
.who-to-follow-column:hover {
  background-color: lightgreen;
  cursor: pointer;
}
.trends-container{
 font-size: 20px;
 font-weight: bold;
}

.flexcontent2{
  display: flex;
  flex-direction: row; 
  gap: 8px;
}
.flexcontent3{
  display: flex;
  flex-direction: row;
  gap: 23px;
}
.follow-button {
  padding: 5px 20px;
  border-radius: 20px;
  color: rgb(29, 161, 242);
  font-size: 15px;
  font-weight: bold;
  border-color: rgb(29, 161, 242);
  border-width: 1px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0);
}
.follow-button:hover{
  background-color: blue;
  transition: 0.15s;
}
.check-mark-icon {
  height: 20px;
  width: 20px;
 
}
.show-text{
  font-size: 16px;
  color: rgb(29, 161, 242);
  padding-top: 15px;
  padding-left: 10px;
}
.footer {
 display: flex; 
 flex-direction: row;
 justify-content: space-between;
 margin-left: 32px;
 margin-right: 40px;
 margin-top: 20px;
 position: sticky;
 top: 550px;
 
}

.terms{
  text-decoration:none ;
  font-size: 12px;
  font-style: lighter;
  color:rgb(133, 166, 187) ;
}
.terms:hover{
  text-decoration: underline;
  cursor: pointer;
}